:root {
  /* Tema claro */
  --background-color: #ffffff;
  --text-color: #000000;
  --header-bg: #ffffff;
  --link-color: #000000;
  --button-bg: linear-gradient(to right, #6272a4 37%, #282a36 89%);
  --button-hover-bg: linear-gradient(to right, #544870 37%, #282a36 89%);
  --box-shadow: 0 0 20px #ffffff;
  --card-bg: #ffffff;

  /* Fontes */
  --font-default: "DM Sans", sans-serif;
  --font-alt1: "Poppins", sans-serif;
  --font-alt2: "Roboto Slab", serif;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #f0f0f0;
  --header-bg: #2c2c2c;
  --link-color: #f0f0f0;
  --box-shadow: 0 0 20px #444444;
  --card-bg: #2c2c2c;
}

[data-font="alt1"] {
  --font-default: "Poppins", sans-serif;
}
[data-font="alt2"] {
  --font-default: "Roboto Slab", serif;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.1s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-default);
  background: radial-gradient(
      circle at 20% 30%,
      rgba(121, 106, 158, 0.116) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(124, 141, 78, 0.212) 0%,
      transparent 50%
    ),
    var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.underline-animate {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--button-bg);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.underline-animate:hover::after {
  transform: scaleX(1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-bg);
  z-index: 999;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

header nav h2 {
  font-size: 30px;
  font-weight: 600;
  background: var(--button-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.social-icons i {
  font-size: 35px;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  background: var(--button-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.05);
  transition: transform 0.2s;
}

section.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 250px 100px;
}

.about2,
.avatar {
  flex: 1 1 45%;
  min-width: 300px;
}

.about2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about2 h1 {
  font-size: 60px;
  font-weight: 500;
}

.about2 h2 {
  font-size: 40px;
  font-weight: 500;
}

.gradient-text {
  background: var(--button-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about2 p {
  font-size: 23px;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.about2 .button-curriculo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 15px 20px;
  background: var(--button-bg);
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.about2 .button-curriculo i {
  margin-right: 0.5rem;
}

.about2 .button-curriculo:hover {
  transform: scale(1.05);
}

.avatar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
}

.avatar img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 85px;
}

.skills h1 {
  font-size: 40px;
  font-weight: 100;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 100px 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  background-color: var(--card-bg);
}

.card:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-5px);
  transition: transform 0.5s;
}

.card:hover .gradient-text-hover {
  background: var(--button-hover-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.card:hover i {
  background: var(--button-hover-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
}

.card i {
  font-size: 50px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.card h2 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}

.card p {
  font-size: 23px;
  text-align: center;
}

.icons-skills ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.icons-skills li img {
  transition: transform 0.3s ease;
}

.icons-skills li img:hover {
  transform: scale(1.1);
}

.projects {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h1 {
  font-size: 40px;
  font-weight: 100;
}

.carousel {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 100px 50px;
  flex-wrap: wrap;
}

.card-carousel {
  display: flex;
  width: 450px;
  background-color: var(--card-bg);
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  gap: 15px;
  box-shadow: 0 4px 6px -2px rgba(70, 70, 70, 0.5);
}

.card-carousel:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}

.card-carousel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-carousel h3 {
  padding: 0 10px;
  font-size: 20px;
}

.card-carousel p {
  padding: 0 10px;
  font-size: 18px;
  color: dimgray;
}

.button-repo {
  background-color: rgb(231, 230, 230);
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  gap: 0.5rem;
  font-size: 17px;
  margin: 10px 10px;
  margin-top: auto;
  transition: all 0.2s ease;
  align-items: center;
  justify-content: center;
}

.button-repo:hover {
  background: var(--button-bg);
  color: #ffffff;
  font-weight: bolder;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 500px;
  align-items: baseline;
  color: darkgray;
}

footer a {
  color: darkgray;
}

footer i:hover {
  color: #6272a4;
  transition: 0.5s;
}

#buttonTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #6272a4;
  color: white;
  cursor: pointer;
}
